{% extends 'admin_base.html' %}

{% block title %} Admin Dashboard {% endblock %}

{% block content %} 
    <div class="admin-parkinglot-table-heading-container">
                    <h2>Parking Lots</h2>
                    <a href="{{url_for('add_new_lot')}}"><button class="admin-parkinglot-table-heading-Addlot-button">+ Add Lot</button></a>
                    
                </div>
            
                <div class="admin-parkinglot-table-container">
                    
                  <table class="admin-parkinglot-table">
                        <thead>
                          <tr>
                              <th>Location</th>
                              <th>Address</th>
                              <th>Pincode</th>
                              <th>Price</th>
                              <th>Max Spots</th>
                              <th>Available (A)</th>
                              <th>Occupied (O)</th>
                              <th>Active</th>
                              <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                        <!-- Looping starts here -->
                        <tr>
                            <td>Central Market</td>
                            <td>MG Road</td>
                            <td>485001</td>
                            <td>₹20/hr</td>
                            <td>50</td>
                            <td>35</td>
                            <td>15</td>
                            <td>Yes</td>
                            <td class="admin-parking-lot-table-buttons">
                                <button class="view-button">View</button>
                                <button class="edit-button">Edit</button>
                                <button class="delete-button">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Central Market</td>
                            <td>MG Road</td>
                            <td>485001</td>
                            <td>₹20/hr</td>
                            <td>50</td>
                            <td>35</td>
                            <td>15</td>
                            <td>Yes</td>
                            <td class="admin-parking-lot-table-buttons">
                                <button class="view-button">View</button>
                                <button class="edit-button">Edit</button>
                                <button class="delete-button">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Central Market</td>
                            <td>MG Road</td>
                            <td>485001</td>
                            <td>₹20/hr</td>
                            <td>50</td>
                            <td>35</td>
                            <td>15</td>
                            <td>Yes</td>
                            <td class="admin-parking-lot-table-buttons">
                                <button class="view-button">View</button>
                                <button class="edit-button">Edit</button>
                                <button class="delete-button">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Central Market</td>
                            <td>MG Road</td>
                            <td>485001</td>
                            <td>₹20/hr</td>
                            <td>50</td>
                            <td>35</td>
                            <td>15</td>
                            <td>Yes</td>
                            <td class="admin-parking-lot-table-buttons">
                                <button class="view-button">View</button>
                                <button class="edit-button">Edit</button>
                                <button class="delete-button">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Central Market</td>
                            <td>MG Road</td>
                            <td>485001</td>
                            <td>₹20/hr</td>
                            <td>50</td>
                            <td>35</td>
                            <td>15</td>
                            <td>Yes</td>
                            <td class="admin-parking-lot-table-buttons">
                                <button class="view-button">View</button>
                                <button class="edit-button">Edit</button>
                                <button class="delete-button">Delete</button>
                            </td>
                        </tr>
                        
                    </tbody>
                  </table>
                  
                </div>
{% endblock %}