{% extends 'admin_base.html' %}

{% block title %} Admin Dashboard {% endblock %}

{% block content %} 
    <div class="parkinglot-table-heading-container">
                    <h2>Parking Lots</h2>
                    <a href="{{url_for('add_new_lot')}}"><button class="parkinglot-table-heading-Addlot-button">+ Add Lot</button></a>
                    
                </div>
            
                <div class="parkinglot-table-container">
                    
                  <table class="parkinglot-table">
                        <thead>
                          <tr>
                              <th>Location</th>
                              <th>Address</th>
                              <th>Pincode</th>
                              <th>Price</th>
                              <th>Max Spots</th>
                              <th>Available (A)</th>
                              <th>Occupied (O)</th>
                              <th>Active</th>
                              <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                        <!-- Looping starts here -->
                         {% for lot in parking_lot_details %}
                        <tr>
                            <td>{{lot.prime_location_name}}</td>
                            <td>{{lot.address}}</td>
                            <td>{{lot.pincode}}</td>
                            <td>₹{{lot.price}}/hr</td>
                            <td>{{lot.maximum_spots}}</td>
                            <td>35</td>
                            <td>15</td>
                            <td>{{'Yes' if lot.is_active else 'No'}}</td>
                            <td class="parking-lot-table-buttons">
                                <a href=""><button class="view-button">View</button></a>
                                 <a href="/edit-parking-lot/{{lot.id}}"><button class="edit-button">Edit</button></a>
                                 <a href=""></a><button class="delete-button">Delete</button></a>
                            </td>
                        </tr>
                        {% endfor %}
                        
                            
                        
                    </tbody>
                  </table>
                  
                </div>
{% endblock %}