{% extends 'admin_base.html' %}

{% block title %} Admin Summary {% endblock %}

{% block content %} 
<div class="charts-container">


    <div class="lot-status-bar-graph-container">
        <h3 class="">Lot's Status</h3>
        <img src="/static/lot_status.png" alt="">
    </div>

    <div class="lot-revenue-pie-chart-container">
        <h3 class="">Revenue from each lot</h3>
        <img src="/static/lot_revenue.png" alt="">
    </div>
    <div class="lot-to_spots-bar-chart-container">
        <h3 class="">Spots every lot</h3>
        <img src="/static/lot_to_spots.png" alt="">
    </div>
</div>
{% endblock %}