{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block content
%}
<div class="home-container">
<div class="home-container-canvas">
  <div class="home-container-heading">  
  <h1 style="font-family: Silkscreen;">&#128663; Vehicle Parking App</h1>
  </div>
  <div class="home-container-text"> 
  <p style="font-family: VT323; font-size: larger;" >
  Easily and efficiently manage your parking spaces.
  <br><br>

Our application offers a clever solution for managing vehicle parking. Whether you operate a commercial parking facility, oversee institutional areas, or need to monitor private parking usage, our system guarantees a seamless and efficient experience. Track vehicle information, time logs, and slot availability in real-time from entry to exit.

Say goodbye to confusion, missed slots, and manual record-keeping. With our intuitive interface, you can effortlessly register vehicles, track parking history, and manage users. Created with contemporary requirements in mind, this app is designed to minimize hassle and enhance operational control.
<br><br>
Main features consist of:

Safe check-in/check-out for vehicles

Tracking of slot availability in real time

Comprehensive records of parking activities

Higher-level administrative controls for user and entry management
<br><br>

Whether you are an administrator or a frequent user, the Vehicle Parking App makes parking more intelligent, quicker, and safer. Begin today and bring organization to your parking area!

  </p>
  </div>
</div>
</div>

{% endblock %}
