{% extends 'user_base.html' %}

{% block title %} Release Your Spot {% endblock %}

{% block content %} 

                <div class="form_canvas">
                    <div id="release-spot-card" class="form-card">
                        
                        <h1>Release Your Spot</h1>
                        <form action="/release-parking-spot/{{parking_record.id}}" method="POST">
                        <div class="mb-3" >
                            <label for="spot-id" class="form-label">Spot id</label>
                            <input type="text" class="form-control" id="spot-id"  name="spot_id" value="{{ parking_record.spot_id }}" readonly>
                        </div>
                        <div class="mb-3" >
                            <label for="vehicle-number" class="form-label"> vehicle number</label>
                            <input type="text" class="form-control" id="vehicle-number"  name="vehicle_number"  value="{{ parking_record.vehicle_number }}" readonly>
                        </div>
                        <div class="mb-3" >
                            <label for="parking-time" class="form-label">Parking time</label>
                            <input type="text" class="form-control" id="parking-time"  name="parking_time" value="{{parking_record.parking_timestamp.strftime('%d-%m-%Y %I:%M %p')}}" readonly>
                        </div>
                        <div class="mb-3" >
                            <label for="parking-time" class="form-label">Leaving time</label>
                            <input type="text" class="form-control" id="parking-time"  name="leaving_time" value="{{leaving_timestamp.strftime('%d-%m-%Y %I:%M %p')}}" readonly>
                        </div>
                        <div class="mb-3" >
                            <label for="Total-cost" class="form-label">Total Cost</label>
                            <input type="text" class="form-control" id="Total-cost"  name="total_cost"  value="{{ final_cost }}" readonly>
                        </div>
                        
                        
                        
                       

                        <div style="text-align: center;">
                            <input type="submit" class="btn btn-success" value="Release">
                            <br>
                            
                        </div>
                        </form>
                    </div>
                </div>

{% endblock %}