{% extends 'admin_base.html' %}

{% block title %} Users {% endblock %}

{% block content %} 

<div class="parkinglot-table-heading-container">
                    <h2>Registered Users</h2>
                    
                </div>
            
                <div class="parkinglot-table-container">
                    
                  <table class="parkinglot-table">
                        <thead>
                          <tr>
                              <th>User ID</th>
                              <th>Fullname</th>
                              <th>Email</th>
                              <th>Address</th>
                              <th>Pincode</th>
                          </tr>
                        </thead>
                        <tbody>
                        <!-- Looping starts here -->
                         {% for user in user_details %}
                        <tr>
                            <td>{{user.id}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.address}}</td>
                            <td>{{user.pincode}}</td>
                        </tr>
                        {% endfor %}
                        
                            
                        
                    </tbody>
                  </table>
                  
                </div>

{% endblock %}