{% extends 'admin_base.html' %}

{% block title %} Users {% endblock %}

{% block content %} 

<div class="parkinglot-table-heading-container">
                    <h2>Registered Users</h2>
                    
                </div>
                <div class="parkinglot-table-heading-container-user">
                    <h2>Search Parking record</h2>                    
                </div>        
        
        
                <form class="d-flex" action="{{ url_for('user_details') }}" method="POST">

                  <select class="form-select me-2" aria-label="Default select example" name="key" required>
                    <option selected>select</option>
                    <option value="userid">User id</option>
                    <option value="username">User name</option>
                    <option value="useremail">User email</option>
                  </select>
                  <input class="form-control me-2" type="text" name="search_value" placeholder="Search" aria-label="Search" required>
                  
                  <input class="btn btn-outline-success" type="submit" value="Search">
                </form>
            
                <div class="parkinglot-table-container">
                    
                  <table class="parkinglot-table">
                        <thead>
                          <tr>
                              <th>User ID</th>
                              <th>Fullname</th>
                              <th>Email</th>
                              <th>Address</th>
                              <th>Pincode</th>
                          </tr>
                        </thead>
                        <tbody>
                        <!-- Looping starts here -->
                         {% for user in user_details %}
                        <tr>
                            <td>{{user.id}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.address}}</td>
                            <td>{{user.pincode}}</td>
                        </tr>
                        {% endfor %}
                        
                            
                        
                    </tbody>
                  </table>
                  
                </div>

{% endblock %}